<p id="notice"><%= notice %></p>

<div class="page-content">
  <div class="content-block">
    <div class="list-block media-list">
      <ul>
        <% @houses.each do |house| %>
          <li>
            <%= render 'houses/house', house: house %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
