<p id="notice"><%= notice %></p>


<%= link_to '間取りをお絵描き', new_house_path %>

<% @houses.each do |house| %>
  <%= render 'houses/house', house: house %>
<% end %>

<%= link_to '間取りをお絵描き', new_house_path %>
