<div class="toolbar tabbar tabbar-labels">
  <div class="toolbar-inner">
    <%= link_to houses_path, class: 'tab-link active' do %>
      <i class="icon tabbar-demo-icon-1"></i> <span class="tabbar-label">間取り</span>
    <% end %>

    <%= link_to user_path(current_user), class: 'tab-link' do %>
      <i class="icon tabbar-demo-icon-2"></i><span class="tabbar-label">お気に入り</span>
    <% end %>

    <%= link_to user_path(current_user), class: 'tab-link' do %>
      <i class="icon tabbar-demo-icon-3"></i><span class="tabbar-label">Mypage</span>
    <% end %>
  </div>
</div>
